/*  
    *** Modelo de arquivo de formatação web CSS.
    *** Desenvolvido por Fábio de Almeida Martins.
*/

@viewport{
    width: device-width;
    zoom: 1;
    text-orientation: portrait;
}

img, embed, object, video {
/* Adapta imagens e vídeos de acordo com o layout do dispositivo. */
/*  display: block; */
    max-width: 100%;
    height: auto;
}

body {
/*  font-size: 62.5%; */
    font-family: Arial;   
    font-size: 12pt;
    font-weight: normal;
    background-color: #FFF;
    color: #000;
}

a {
    color: #00F;
}

.titulo{
    text-align: center;
    font-family: Arial;
    font-size: 32pt;
    font-weight: bold;
    color: #000;
}

.corpodetexto {
	text-align: left;
    font-size: 12pt;
}

.rodape {
    position: absolute;
    right: 0%;
    text-align: center;
    bottom: 1;
    font-family: Times New Roman;   
    font-size: 12pt;
    font-weight: normal;
    color: #000;
}

.links {
/*  position: absolute;
    left: 45%; */
    text-align: center;
    font-size: 12pt;
}

.tabela {
	text-align: center;
    font-family: Times New Roman;   
    font-size: 12pt;
}

.imagens {
/*  display: auto; */
    position: relative;
    text-align: right;
}

.imgdescr {
    position: relative;
    text-align: center;
    font-family: Arial;
    font-size: 10pt;
    color: #000;
}

#sugestao {
	font-family: Times New Roman;
}